.tabbar {
    position: fixed;
    bottom: -10px;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: calc(100% - 16px);
    height: 74px;
    padding: 0 8px;
    z-index: 1000;

    a {
        flex: 1;
    }

    .active-link {
        .menu-icon {
            color: #0a78d6 !important;
        }

        .tabbar-text {
            color: #0a78d6 !important;
        }
    }

    .tabbar-animation {
        width: calc(100% / 4 - 20px);
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(23, 126, 221, 0.2);
        position: absolute;
        bottom: 30px;
        left: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .tabbar-block {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 12px 0;
        gap: 5px;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        z-index: 100;

        .menu-icon {
            height: 24px;
            width: 24px;
            vertical-align: middle;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: #6d7885;
        }

        .tabbar-text {
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            color: #6d7885;
        }
    }
}
