.tabbar {
    position: fixed;
    bottom: -10px;
    left: 0;
    padding: 20px 48px;
    background-color: #005479;
    border-radius: 50px 50px 0 0;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: -webkit-fill-available;

    .active-link .menu-icon {
        opacity: 1;
        color: #ffffff;
    }

    .menu-icon {
        font-size: 30px;
        color: #f8f8f8;
        opacity: 0.5;
    }
}
