.create-book {
    .dragger {
        width: 100%;

        .image-block {
            position: relative;
            .book-img {
                object-fit: cover;
                object-position: center center;
            }

            .close-icon {
                position: absolute;
                top: 5px;
                right: 16px;
                color: #fff;
                background-color: rgba(217, 217, 217, 0.9);
                border-radius: 100%;
                padding: 5px;
                font-size: 25px;
            }
        }
        .dragger-wrapper {
            box-sizing: border-box;
            height: 142px;
            border: 1px solid #000000;
            border-radius: 20px;
            display: grid;
            place-content: center;
            padding: 33px 0;

            .upload-icon {
                font-size: 45px;
                display: block;
            }

            .upload-text {
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                color: #000;
            }
        }
    }

    .input-wrapper {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input,
        .ant-select {
            width: 100% !important;
            border: 1px solid #000;
            border-radius: 19px;
            height: 50px;

            .ant-select-selector {
                border: none;
                background: none;
            }
        }

        .btn-save {
            border-radius: 19px;
            height: 54px;
            background: #0a78d6;
            border: none;
            box-shadow:
                0px 0px 2px 0px rgba(0, 0, 0, 0.03),
                0px 0px 2px 0px rgba(0, 0, 0, 0.06);
            font-weight: 500;
            font-size: 16px;
            color: #f9faf8;
        }
    }
}
